SOURCE_DB_CONN_STRING="mysql+pymysql://root:dev@localhost:3307/demo"
TEMPORAL_ACTIVE_TABLETRANSFER_TIMEOUT=120
TEMPORAL_HOSTPORT="localhost:7233"
TEMPORAL_NAMESPACE="default"
TEMPORAL_QUEUE_NAME="table-transfer"
TEMPORAL_MAX_CONCURRENT_WORKFLOW_TASKS=4
HTTP_PORT=8000
